/* GERAL */

body,h1,h2,p,textarea,input{
    margin:0;
    font-family: Roboto;
}
h2{
   font-size: 30px; 
}

/* NAVBAR */
#navbar{
    background-color: crimson;
    color: white;
    padding: 0 15px;
    height: 60px;
}
#navbar h2, #navbar ul, #navbar-list li{
    display: inline-block;
}
#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 110px;
    top: 15px;
}
#navbar img{
    height: 45px;
    position: absolute;
    top: 10px;
}
#navbar nav{
    float: right
}
#navbar ul{
    margin-top: 22px;
    margin-left: 5px;
}
#navbar li{
    margin:0 3px;
}
#navbar-list li a{
    font-size: 15px;
    text-decoration:none;
    color: white;
}
#navbar-list li a:hover{
    border-bottom: 1px solid white;
}

/* MAIN BANNER*/
#main_banner{
    height: 70vh;
    background-image: url('../IMG/banner.jpg');
    background-size: cover;
    padding-top: 15vh;
}
#banner-info{
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
}